---
import Layout from "../../layouts/Layout.astro"
import { Card } from "../../components/Card.astro"
import { getPostInfo, getAllPostsSlugs } from "../../lib/wp"; 

const slug = Astro.params.slug
if (!slug) return Astro.redirect("/404")

export async function getStaticPaths() {
  const slugs = await getAllPostsSlugs();
  return slugs.map((slug) => {
    return { params: { slug } };
  });
}

const { title, content, excerpt, author } = await getPostInfo(slug);


---

<Layout title={title}>
  <div class="space-y-4">
    <article class="prose max-w-2xl mx-auot bg-white shadow-md rounded-lg overflow-hidden p-4">
      <h1 class="text-3xl font-bold mb-4">{title}</h1>
      <div class="text-xl text-gray-600 mb-4" set:html={excerpt} />
  
      <div class="text-sm text-gray-500 mb-4">
        <span>Autor: {author}</span> | 
        <span>Fecha: {new Date().toLocaleDateString("es-ES")}</span>
      </div>
      <div class="text-md mx-auto leading-relaxed" set:html={content} />
    </article>
  </div>
</Layout>
